/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Roboto+Slab:wght@100..900&display=swap');

/* Theme Variables */
.student-template {
    --primary-font: 'Roboto Slab', serif;
    --secondary-font: 'Amarante', sans-serif;
    --base-font-size: 1rem;
    --heading-font-size: 2rem;
    --subheading-font-size: 1.5rem;
    --primary-color: #9966CB;
    --background-color: #f4f4f4;
    --text-color: #333;
    --button-bg-color: #9966CB;
    --button-text-color: white;
    --box-shadow-color: rgba(0,0,0,0.1);
    --border-color: #9966CB;
}

/* Base Styling */
body, h1, h2, h3, p, figure, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

/* Front and Back Mullet Styling */
.front-mullet, .back-mullet {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.left-front, .right-front {
    flex: 1;
    padding: 20px;
}

.left-front {
    max-width: 375px;
    margin-right: 20px;
}

.right-front {
    max-width: 600px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

/* Typography */
h2, h3, blockquote {
    color: var(--primary-color);
}

h2 {
    font-size: var(--heading-font-size);
    font-weight: 900;
}

h3 {
    font-size: var(--subheading-font-size);
    font-weight: 800;
}

blockquote {
    font-size: var(--base-font-size);
    font-style: italic;
    padding-left: 20px;
    border-left: 4px solid var(--border-color);
    margin: 20px 0;
}

/* Skill List & Buttons */
.skills-list ul {
    list-style: none;
    padding: 0;
}

.skills-list li {
    font-size: var(--base-font-size);
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: 10px;
}

.button-container a {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Portfolio Section */
.portfolio {
    margin-bottom: 20px;
}

.project-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.project {
    width: calc(33.333% - 2rem);
    position: relative;
    overflow: visible;
    margin-bottom: 2rem;
    padding-top: 2.5rem;
}

.project img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}

.project:hover img {
    transform: scale(1.05);
    transform-origin: top center;
}

.project-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.25rem;
    background-color: rgba(153, 102, 203, 0.8);
    color: #fff;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}

.image-description {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(153, 102, 203, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease-out;
    transform: translateY(10px);
    opacity: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.project:hover .image-description {
    opacity: 1;
    transform: translateY(0);
}

/* Interview Section */
.interview {
    padding: 20px;
    border: 4px solid var(--border-color);
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .front-mullet, .back-mullet, .project-container {
        flex-direction: column;
    }

    .left-front, .right-front, .project {
        width: 100%;
        margin-top: 10px;
    }

    .project {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 2.5rem;
    }
    
    h3, blockquote {
        font-size: 1.5rem;
    }

    .button-container {
        flex-direction: column;
    }
}
